[submodule "pandoc-workflow"]
	path = pandoc-workflow
	url = https://github.com/dhcolumbia/pandoc-workflow
[submodule "dhnotes.wiki"]
	path = dhnotes.wiki
	url = https://github.com/denten/dhnotes.wiki.git
